*{    
    margin:0; 
    padding:0; 
}
body{
    max-width: 100%;
    max-height: 1050px;
    background-image: url(image/sedlo.jpg) ;
    background-repeat: no-repeat;
}
.portfolio{
    width: 70%;
    height: 80%;
}
.portfolio_menu{
    width: 18%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    left: 17%;
    top: 60px;
    margin: 10px 20px 10px 20px;
}
.menu_item{
    background-color: lightseagreen;
    width: 200px;
    height: 40px;
}
.menu_item:hover{
        background-color: rgb(17, 41, 109);
}
.menu_item:active{
    background-color: rgb(129, 130, 134);
}
.menu_text{
    color: rgb(255, 255, 255);
    font: normal normal 500 18px/41px Ubuntu;
    position: relative;
    left: 10%;
}
.portfolio_page-menu{
    width: 54%;
    height: 75%;
    background-image: url(image/back_page_menu.jpg) ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 6.5%;
    left: 28%;
    gap: 10px;
    margin: 0px 3%;
}
.avatar{
    width: 23%;
    height: 220px;
    background-image: url(image/11.png);
    background-size: 100% 100%;
    margin: 10px;
    background-position: center center;
}
.avatar:hover{
    animation: 2s linear 0s normal none infinite running rot;
    -webkit-animation: 2s linear 0s normal none infinite running rot;
}
@keyframes rot {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }

.nameText{
    position: relative;
    top: -2%;
}
.nameText_1{
    color: rgb(5, 9, 46);
    text-align: left;
    font: normal normal 700 50px/88px Ubuntu;
}
.nameText_2{
    color: lightseagreen;
    text-align: left;
    font: normal normal 700 50px/88px Ubuntu;
}
.proffesion{
    position: relative;
    top: -2%;
}
.proffesion_text{
    text-align: left;
    font: normal normal 500 22px/28px Ubuntu;
}
hr{
    padding-bottom: 1px;
    background-color: #161616c5;
    border-bottom:1px solid #020202ad;
    width: 60%;
}
.about-me_text{
    font: normal normal 500 22px/28px Ubuntu;
}
.about-me{
    text-align: center;
    overflow: hidden;
    width: 52%;
    position: relative;
    top: 2%;
}
.contact{
    background-color: rgba(32, 178, 171, 0.623);
    border-radius: 5px;
    height: 8%;
    width: 70%;
    text-align: center;
    position: relative;
    top: 4%;
    white-space:nowrap;
    overflow:hidden;
}
.contact-text{
    color: rgb(253, 253, 253);
    font: normal normal 500 18px/24px Ubuntu;
    position: relative;
    top: 30%;
    
}
.contact .contact-text {
    
    display:inline-block;
    padding-left:100%;
    -webkit-animation: marquee 10s infinite linear;
    animation: marquee 10s infinite linear;
    }

@-webkit-keyframes marquee {
    0%{-webkit-transform: translate(0, 0);}
    100%{-webkit-transform: translate(-100%, 0);}
    }
    @keyframes marquee{
    0%{transform: translate(0, 0);}
    100%{transform: translate(-100%, 0)}
}
.message{
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 25%;
    max-height: 9%;
    position: relative;
    top: 9%;
    left: 0%;
    gap: 5px;
    margin: 5px;
}
.message_img1{
    width: 40px;
    height: 36px;
    background-image: url(image/inst.png);
    background-size: cover;
}
.message_img2{
    width: 40px;
    height: 36px;
    background-image: url(image/fasebook.png);
    background-size: cover;
}
.message_img3{
    width: 40px;
    height: 36px;
    background-image: url(image/tviter.png);
    background-size: cover;
}
.message_img4{
    width: 40px;
    height: 36px;
    background-image: url(image/in.png);
    background-size: cover;
}
.message_img5{
    width: 40px;
    height: 36px;
    background-image: url(image/youtube.png);
    background-size: cover;
}
.aboutMe{
    width: 60%;
    max-height: 83%;
    background-image: url(image/back_page_menu.jpg) ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 5.5%;
    left: 28%;
    gap: 28px;
    overflow: auto;
    margin: 0px 3%;
}
.title{
    font: normal normal 500 28px/32px Ubuntu;
    color: rgb(53, 52, 52);
    position: relative;
    top: 30px;
    left: 15%;
}
.buttons{
    display: flex;
    gap: 20px;
    position: relative;
    top: 30px;
    left: 15%;
    width: 60%;
}
.button{
    background-color: rgb(51, 50, 50);
    width: 250px;
    height: 30px;
}
.textButton{
    color: rgb(255, 250, 250);
    font: normal normal 700 16px/20px Ubuntu;
    position: relative;
    top: 15%;
    left: 5%;
}
.text_education{
    color: lightseagreen;
    font: normal normal 700 24px/28px Ubuntu;
    position: relative;
    top: 30px;
    left: 15%;
}
.education{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
    left: 42px;
    white-space: auto;
    box-sizing: border-box;
    padding: 15px;
}
.work{
    color: rgb(53, 53, 53);
    font: normal normal 700 24px/28px Ubuntu;
}
.education{
    width: 70%;
    height: 68%;
    border: 1px double black ;
    gap: 20px;
}
.education-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    height: 80%;
    position: relative;
    left: 12%;
    
}
.linkR{
    color: rgb(0, 0, 0);
    width: 60%;
    position: relative;
    left: 15%;
    top: 30px;
}
.linkRel{
    color: rgb(0, 0, 0);
    width: 60%;
}
.error{
    position: absolute;
    left: 500px;
    top: 70px;
    width: 50%;
    height: 50%;
    background-image: url(image/eror.png);
    background-position: center center;
    background-size: cover;
}
@media screen and (max-width: 1600px) {
    .avatar{
        height: 200px;
    }
}
@media screen and (max-width: 1440px) {
    .avatar{
        height: 208px;
    }
}
@media screen and (max-width: 1400px) {
    .nameText_1{
        color: rgb(5, 9, 46);
        text-align: left;
        font: normal normal 700 40px/78px Ubuntu;
    }
    .nameText_2{
        color: lightseagreen;
        text-align: left;
        font: normal normal 700 40px/78px Ubuntu;
    }
    .avatar{
        height: 202px;
    }
    .proffesion_text{
        text-align: left;
        font: normal normal 500 22px/28px Ubuntu;
    }
}
@media screen and (max-width: 1350px) {
    .avatar{
        height: 195px;
    }
    .textButton {
        font: normal normal 700 14px/18px Ubuntu;
        text-align: center;
        top: 30%;
        left: 0;
    }
    .work {
        font: normal normal 700 20px/24px Ubuntu;
    }
    .button {
        height: 50px;
        margin: auto;
        text-align: center;
    }
}
@media screen and (max-width: 1280px) {
    .avatar{
        height: 180px;
    }
}
@media screen and (max-width: 1200px) {
    .avatar{
        height: 174px;
    }
    .menu_item {
        width: 180px;
    }
}
@media screen and (max-width: 1150px){
    .avatar {
        height: 166px;
    }
    .menu_item {
        width: 112%;
    }
}
@media screen and (max-width: 1100px) {
    .avatar{
        height: 165px;
    }
}
@media screen and (max-width: 1000px) {
    .avatar{
        height: 150px;
    }
    .portfolio_page-menu {
        margin: 0px 35px;
    }
    .contact-text {
        color: rgb(253, 253, 253);
        font: normal normal 500 14px/20px Ubuntu;
        position: relative;
        top: 30%;
    }
    .message {
        max-width: 33%;
    }
    .menu_item {
        width: 122%;
    }
}
@media screen and (max-width: 950px){
    .avatar {
        height: 140px;
    }
}
@media screen and (max-width: 900px){
    .avatar {
        width: 25%;
        height: 131px;
    }
    .buttons {
        flex-direction: column;
    }
    .menu_text {
        color: rgb(255, 255, 255);
        font: normal normal 500 14px/37px Ubuntu;
        position: relative;
        left: 10%;
    }
    .message {
        max-width: 37%;
    }
}
@media screen and (max-width: 850px){
    .portfolio_menu {
        flex-direction: row;
        width: 114%;
        left: 11%;
        top: 60px;
    }
    .portfolio_page-menu {
        top: 18.5%;
        left: 16%;
    }
    .avatar {
        height: 128px;
    }
    .aboutMe {
        top: 12.5%;
        left: 15%;
    }
}
@media screen and (max-width: 800px){
    .avatar {
        height: 118px;
    }
}
@media screen and (max-width: 760px){
    .avatar {
        height: 114px;
    }
}
@media screen and (max-width: 700px){
    .avatar {
        height: 105px;
    }
}
@media screen and (max-width: 650px){
    .avatar {
        height: 99px;
    }
    .menu_text {
        color: rgb(255, 255, 255);
        font: normal normal 500 10px/30px Ubuntu;
        position: relative;
        left: 10%;
    }
    .portfolio_menu {
        flex-wrap: wrap;
    }
    .menu_item {
        height: 28px;
        width: 29%;
    }
    .nameText_1{
        font: normal normal 700 30px/68px Ubuntu;
    }
    .nameText_2{
        font: normal normal 700 30px/68px Ubuntu;
    }
    .about-me_text {
        font: normal normal 500 18px/24px Ubuntu;
    }
    .about-me {
        width: 73%;
    }
    .message {
        max-width: 53%;
    }   
    .portfolio_menu {
        left: 17%;
    }
    .aboutMe {
        top: 15.5%;
        left: 15%;
    }
}
@media screen and (max-width: 550px){
    .button {
        width: 100%;
    }

}
@media screen and (max-width: 320px){
    .portfolio_menu {
        margin: 0px;
        padding: 0px;
    }
    .portfolio_page-menu {
        margin: 0px;
        padding: 0px;
        width: 67%;
        top: 14.5%;
        height: 48%;
    }
    .avatar {
        width: 64%;
        height: 131px;
    }
    .nameText_1 {
        font: normal normal 700 20px/58px Ubuntu;
    }
    .nameText_2 {
        font: normal normal 700 20px/58px Ubuntu;
    }
    .proffesion_text {
        font: normal normal 500 16px/24px Ubuntu;
    }
    .about-me_text {
        font: normal normal 500 14px/20px Ubuntu;
    }
    .message {
        max-width: 90%;
    }
    .title {
        font: normal normal 500 20px/24px Ubuntu;
        left: 0;
        top: 8px;
    }
    .textButton {
        font: normal normal 700 12px/16px Ubuntu;
        top: 18%;
    }
    .aboutMe{
        text-align: center;
        width: 85%;
        margin: 0 -8%;
        max-height: 55%;
        top: 11.5%;
    }
    .linkR {
        width: 70%;
        left: 14%;
        top: -10px;
    }
    .buttons {
        left: 20%;
        top: -19px;
    }
    .button{
        height: 30px;
    }
    .text_education {
        text-align: center;
        font: normal normal 700 20px/24px Ubuntu;
        left: 0;
        top: -24px;

    }
    .work {
        font: normal normal 700 14px/20px Ubuntu;
    }
    .education-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: 80%;
        left: 0;
        top: -65px;
    }
    .linkRel {
        margin: 0px 33px;
    }
    .error {
        left: 39px;
        top: 167px;
        width: 75%;
        height: 23%;
    }
}

 
