body{
    max-width: 100%;
    max-height: 820px;
    background-image: url(image/sedlo.jpg) ;
    background-size: 100% , 100%;
    background-repeat: no-repeat;
}
.portfolio{
    width: 70%;
    height: 80%;
}
.portfolio_menu{
    width: 18%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    left: 17%;
    top: 60px;
    margin: 0px 20px 0px 20px;
}
.menu_item{
    background-color: lightseagreen;
    width: 200px;
    height: 40px;
}
.menu_item:hover{
    background-color: rgb(17, 41, 109);
}
.menu_text{
    color: rgb(255, 255, 255);
    font: normal normal 500 18px/41px Ubuntu;
    position: relative;
    left: 10%;
}
.portfolio_page-menu{
    width: 60%;
    height: 83%;
    background-image: url(image/back_page_menu.jpg) ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 8%;
    left: 28%;
}
.avatar{
    margin: 10px;
}
.nameText{
    position: relative;
    top: -2%;
}
.nameText_1{
    color: rgb(5, 9, 46);
    text-align: left;
    font: normal normal 700 50px/88px Ubuntu;
}
.nameText_2{
    color: lightseagreen;
    text-align: left;
    font: normal normal 700 50px/88px Ubuntu;
}
.proffesion{
    position: relative;
    top: -2%;
}
.proffesion_text{
    text-align: left;
    font: normal normal 500 22px/28px Ubuntu;
}
hr{
    padding-bottom: 1px;
    background-color: #161616c5;
    border-bottom:1px solid #020202ad;
    width: 60%;
}
.about-me_text{
    font: normal normal 500 22px/28px Ubuntu;
}
.about-me{
    text-align: center;
    overflow: hidden;
    width: 52%;
    position: relative;
    top: 2%;
}
.contact{
    background-color: rgba(32, 178, 171, 0.623);
    border-radius: 5px;
    height: 8%;
    width: 70%;
    text-align: center;
    position: relative;
    top: 4%;
}
.contact-text{
    color: rgb(253, 253, 253);
    font: normal normal 500 18px/24px Ubuntu;
    position: relative;
    top: 30%;
}
.message{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 38%;
    height: 9%;
    position: relative;
    top: 9%;
    left: 0%;
}
.aboutMe{
    width: 60%;
    height: 83%;
    background-image: url(image/back_page_menu.jpg) ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 8%;
    left: 28%;
    gap: 28px;
    overflow: auto;
}
.title{
    font: normal normal 500 28px/32px Ubuntu;
    color: rgb(53, 52, 52);
    position: relative;
    top: 30px;
    left: 15%;
}
.buttons{
    display: flex;
    gap: 20px;
    position: relative;
    top: 30px;
    left: 15%;
    width: 50%;
}
.button{
    background-color: rgb(51, 50, 50);
    width: 250px;
    height: 30px;
}
.textButton{
    color: rgb(255, 250, 250);
    font: normal normal 700 16px/20px Ubuntu;
    position: relative;
    top: 15%;
    left: 5%;
}
.text_education{
    color: lightseagreen;
    font: normal normal 700 24px/28px Ubuntu;
    position: relative;
    top: 30px;
    left: 15%;
}
.education{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
    left: 30px;
    white-space: auto;
    box-sizing: border-box;
    padding: 15px;
}
.work{
    color: rgb(53, 53, 53);
    font: normal normal 700 24px/28px Ubuntu;
}
.work-list{
    color: rgb(53, 53, 53);
    font: normal normal 400 24px/28px Ubuntu;
}
.education{
    width: 70%;
    height: 68%;
    border: 1px double black ;
    gap: 20px;
}
.education-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    height: 80%;
    position: relative;
    left: 12%;
}
.linkR{
    color: rgb(0, 0, 0);
    width: 60%;
    position: relative;
    left: -50px;
    top: 30px;
}
.linkRel{
    color: rgb(0, 0, 0);
    width: 60%;
    position: relative;
    left: -122px;
    top: 0px;
}
.error{
 position: absolute;
 left: 450px;
 top:   67px;
}